.carousel-caption {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .9);
}

.image-thumbnails {
	text-align: center;
}

	.image-thumbnails img {
		width: 60%;
		height: 60%;
		margin: 0 auto;
	}

.home-header {
	padding: 15px;
}

.avatar-rounded {
	border-radius: 50%;
}

.telecom-footer {
	border-top: 5px solid #a8d6e9;
	padding: 1.3em 0;
	background: #009ee3;
	margin-top: 40px;
	height: 50px;
}

.stat-container {
	display: inline-block;
	width: 10%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
	border-color: #DEDFE0 #C8C8C8 #C8C8C8;
	border-image: none;
	border-right: 1px solid #C8C8C8;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	margin-right: 1.8%;
	margin-bottom: 20px;
}

.stats-bar {
	text-align: right;
}

	.stat-container.flat {
		background-image: none;
		background: #f6f6f6;
		border: 0;
		color: #777;
	}

	.stats-up {
		background: url('/assets/img/stat-up.png') no-repeat scroll left center;
		padding: 0 0 0 19px;
		font-size: 12px;
	}

	.stats-same {
		background: url('/assets/img/stat-same.png') no-repeat scroll left center;
		padding: 0 0 0 19px;
		font-size: 12px;
	}

/* vertical sidebar menu */
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar {
	margin-bottom: 10px !important;
}

@font-face {
    font-family: 'Patient-icons';
    src: url('http://cdn.patient.co.uk/res/91828a3477e64c8e99a478b3a8aa5a61-Patient-icons.eot?') format('eot'),url('http://cdn.patient.co.uk/res/91828a3477e64c8e99a478b3a8aa5a61-Patient-icons.woff') format('woff'),url('http://cdn.patient.co.uk/res/91828a3477e64c8e99a478b3a8aa5a61-Patient-icons.ttf') format('truetype')
}

.forum-list-item {
	margin-left: 59px;
	margin-bottom: 10px;
	text-align: left;
}

	.forum-icon	{
		font-family: 'Patient-icons';
		font-size: 30px;
		font-weight: normal !important;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: middle;
		border: 0;
		font-style: normal;
		color: white;
		padding: 4px 6px;
		line-height: 33px;
		width: 39px;
		height: 59px;
	}

	.forum-group {
		padding: 6px 5px 0 10px;
		background-color: #eee;
		border-bottom: 1px solid #ccc;
		height: 59px;
		display: inline-block;
		width: 90%;
	}

	.forum-question-group {
		padding: 6px 5px 0 10px;
		background-color: #eee;
		border-bottom: 1px solid #ccc;
		height: 59px;
		display: inline-block;
		width: 70%;
	}



		.forum-title {
			width: 76%;
			display: inline-block;
			vertical-align: top;
		}

	.grp-lnk {
		display: block;
		font-size: 1.5em;
		line-height: 1.0em;
		font-weight: bold;
	}

	.cat-stats {
		text-transform: uppercase;
		color: #6e7580;
		/*font-size: 0.9em;*/
		text-align: left;
		padding: 0px;
		width: 160px;
		display: inline-block;
	}

		.cat-posts {
			/*margin: 10px;*/
		}

		.cat-numbers {
			vertical-align: top;
			display: inline-block;
			zoom: 1;
			font-size: 10px;
		}

			.cat-numbers strong {
				font-size: 17px;
				width: 70px;
				display: inline-block;
				text-align: right;
				margin-right: 5px;
			}

		.members {
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			color: #6e7580;
		}

			.members-text {
				font-size: 10px;
				display: block;
				text-align: center;
			}
		
		.patient-icon {
			font-family: 'Patient-icons';
			font-size: 23px;
			font-weight: normal!important;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			vertical-align: middle;
			border: 0;
			font-style: normal;
			text-transform: lowercase;
		}

		
		.forum-avatar {
			font-size: 30px;
			text-align: center;
		}

		.forum-title-text {
/*			display: inline-block;
			vertical-align: bottom;
*/			font-weight: bold;
			padding-top: 10px;
		}



.doctor-icon-wrapper {
	/*display: inline-block;*/

}

	.avatar-text {
		text-align: center;
	}
	
	.avatar-user-text {
		text-align: right;
	}


	.doctor-icon {
		height: 59px;
		text-align: right;
	}

	.rate-icons {
		font-size: 20px;
	}

		.doctor-rate-icons {
			margin-top: 5px;
		}



		.forum-count-text {
			padding-top: 10px;
		}

		.center-text {
			text-align: center;
		}

		.right-text {
			text-align: right;
		}

		.blood-bg {
			background-color: #be1e2d;
		}

		.allergy-bg {
			background-color: #E67D38;
		}
		
		.mntl-bg {
			background-color: #13a89e;
		}

		.chst-bg {
			background-color: #393a96;
		}

		.bone-bg {
			background-color: #7da53f;
		}

		.brain-bg {
			background-color: #f1592a;
		}

		.horm-bg {
			background-color: #da1c5c;
		}
		
		.gut-bg {
			background-color: #0f75bc;
		}

		.wom-bg {
			background-color: #d5571d;
		}